<!doctype html>
<html lang="en">
	<head>
		<title>CSCE 438</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href="{{url_for('static', filename='lib/angular-animate/ng-animation.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='css/main.css') }} " rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	</head>
	<body ng-cloak>	
		<div class="content" ui-view>
		</div>
		<div class="logout">
			<a href="{{url_for('logout')}}">logout</a>
		</div>

		<!-- requirejs bootstrap -->
		<script type="text/javascript" src="{{ url_for('static', filename='lib/require/require.js') }}" data-main="/static/require-config"></script>

	</body>

</html>