<div class="content-block slide-left" ng-show="displayBlocks.trends">
    <h1 class="header">Select Trend</h1>
    <p>Here's a list of what's currently trending on Twitter, pick one to get started</p>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="list-item trend" ng-repeat="trend in trends" ng-click="selectTrend(trend)">
                    <div >{{ trend.name }}</div>
            </div>            
        </div>
        <div class="pure-u-1-2">
                <h3 class="trend-title">{{ pickedTrend.name }}</h3>
                <p class="trend-desc">{{ pickedTrend.description.text }}</p>
                <span ng-hide="pickedTrend.last_trended_at == null"><strong>First started trending at</strong> {{ pickedTrend.last_trended_at }}</span>
        </div>
    </div>

    <button class="pure-button pure-button-primary" ng-click="togglePage('trends', 'tweets')">Next</button>
</div>

<div class="content-block slide-left" ng-show="displayBlocks.tweets">
    <h1 class="header">Tweets</h1>
    <p>Top Tweets for {{pickedTrend.name}}</p>

    <div ng-repeat="tweet in tweets">
        <span class="tweet">{{tweet.text}}</span>
    </div>
    <button class="pure-button pure-button-primary" ng-click="togglePage('tweets', 'words')">Next</button>
</div>

<div class="content-block slide-left" ng-show="displayBlocks.words">
    <h1 class="header">Words</h1>
    <button class="pure-button pure-button-primary" ng-click="togglePage('words', 'post')">Next</button>
</div>

<div class="content-block slide-left" ng-show="displayBlocks.post">
    <h1 class="header">Ready to go?</h1>
    <small>Here's your final tweet, make your final changes then tweet away!</small>
    <button class="pure-button pure-button-success">Tweet</button>
</div>