html,body {

    font-family: 'Raleway', sans-serif;
}

.header {
    height:200px;
    width:400px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-200px;
    text-align:center;
}

.header > a {
    font-size:2em;
}

video#background-vid {
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    max-width:100%;
    width:auto;
    height:auto;
    z-index:-100;
    background: url('/static/img/background.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


a, a:visited {
    color:#0000EE;
    text-decoration: none;
}

a {
    opacity:1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;    

}
a:hover {
    opacity:0.5;
    text-decoration:underline;
};