html,body {

    font-family: 'Raleway', sans-serif;
}

.content {
	height:100%;
    max-width:960px;
    margin:0 auto;
}

.main-content {
	width:65%;
	margin: 0 auto;
}

.home-header {
	color:white;
	font-size:3em;
	float:right;
}

.header {
    background: #2196F3;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
}

/* gives those text lists some kind of indicator that they're clickable */
.list-item {
    background-color:#fff;
    color:#000;
    
    -webkit-transition: bcolor 250ms, ackground-color 250ms;
    -moz-transition: bcolor 250ms, ackground-color 250ms;
    -o-transition: bcolor 250ms, ackground-color 250ms;
    -ms-transition: bcolor 250ms, ackground-color 250ms;
    transition: color 250ms, background-color 250ms;


}
.list-item:hover {
    background-color:#2196F3;
    color:#fff;
    cursor:pointer;
}

.logout {
    width:100%;
    text-align: center;    
}

.logout > a {
    font-size:2em;
}

a:visited {
    color:#0000EE;
}

a {
    color:#0000EE;
    position:relative;
    text-decoration: none;
}


a:before {
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    bottom:0;
    left:0;
    background-color:#0000EE;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;    
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);    
}

.tweet {
    border-bottom:2px solid;
    margin:1.5em;
}